<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rock paper scissors</title>
</head>
<body>
    <header>


        <nav>
            <li>
                <a href="/"><button>Reset</button></a>
            </li>
            <li>
                <a href="/computer"><button>1 player</button></a>
            </li>
        </nav>
    </header>
    
    
    
    {% block content %} 
    
    {% endblock %}

    <footer>
        <p>rock paper scissors 2022</p>
        <p>made by rory smith</p>
    </footer>


</body>
</html>

